*{
	cursor: default;
	font-family: roboto;
}
@font-face {
    font-family: roboto;
    src: url(regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: roboto;
    src: url(700.ttf);
    font-weight: 700;
}
@font-face {
    font-family: roboto;
    src: url(500.ttf);
    font-weight: 500;
}
@font-face {
    font-family: roboto;
    src: url(300.ttf);
    font-weight: 300;
}
@font-face {
    font-family: roboto;
    src: url(100.ttf);
    font-weight: 100;
}
@font-face {
    font-family: roboto;
    src: url(100i.ttf);
    font-weight: 100
    font-style: itaic;
}
@font-face {
    font-family: roboto;
    src: url(300i.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: roboto;
    src: url(italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: roboto;
    src: url(500i.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: roboto;
    src: url(700i.ttf);
    font-weight: 700;
    font-style: italic;
}

::selection {
  background: aqua; 
  color: white;
}

body{
	background-color: white;
    overflow: scroll;
}
.title {
	text-align: center;
	position:absolute;
	text-align: default;
    margin: auto;
    font-weight: 100;
    font-size: 15vw;
    line-height: 14vw;
    width: 95vw;
    height: 80vh;
    padding-top: 20vh;
}

a{
    color:inherit;
    cursor: pointer;
}

.caption{
	font-weight: 300;
	line-height: 24px;
	font-size: 16px;
	text-align: left; 
	margin-left: 17.5vw;
    width: 60vw;
}
#tip{
    opacity: .5;
}
#about{
   margin-left: 7.5vw;
   width: 45vw;
   padding-bottom: 10vh;
}